/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
			/*main css*/
#content{
	margin-top: 30px
}
.table_cart{
	background: #ddd;
	padding: 10px;
	border-radius: 10px 
}

